<ion-content class="bet-view" scroll="false">
	<div id="" class="tabcontent">
		<p>短牌</p>
		<button class="btn btn-danger-outline-gd bet ok" data-id="106011" value="0">
			<span class="right mr10 bet-round">
				<span class="round-3 domino_1 square_label">1</span>
				<span class="round-3 domino_1 square_label">1</span>
			</span>
			<span class="bet-item lh14 r_ma">1.982</span>
		</button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="106022" value="0">
			<span class="right mr10 bet-round">
				<span class="round-3 domino_2 square_label">2</span>
				<span class="round-3 domino_2 square_label">2</span>
			</span>
			<span class="bet-item lh14 r_ma">1.982</span>
		</button>

		<button class="btn btn-danger-outline-gd bet ok" data-id="106033" value="0">
			<span class="right mr10 bet-round">
				<span class="round-3 domino_3 square_label">3</span>
				<span class="round-3 domino_3 square_label">3</span>
			</span>
			<span class="bet-item lh14 r_ma">1.982</span>
		</button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="106044" value="0">
			<span class="right mr10 bet-round">
				<span class="round-3 domino_4 square_label">4</span>
				<span class="round-3 domino_4 square_label">4</span>
			</span>
			<span class="bet-item lh14 r_ma">1.982</span>
		</button>
		
		<button class="btn btn-danger-outline-gd bet ok" data-id="106055" value="0">
			<span class="right mr10 bet-round">
				<span class="round-3 domino_5 square_label">5</span>
				<span class="round-3 domino_5 square_label">5</span>
			</span>
			<span class="bet-item lh14 r_ma">1.982</span>
		</button>
		<button class="btn btn-danger-outline-gd bet ok" data-id="106066" value="0">
			<span class="right mr10 bet-round">
				<span class="round-3 domino_6 square_label">6</span>
				<span class="round-3 domino_6 square_label">6</span>
			</span>
			<span class="bet-item lh14 r_ma">1.982</span>
		</button>
	</div>
</ion-content>