<ion-content class="bet-view" scroll="false">
	<div id="" class="tabcontent">
		<p>点数</p>
		<button class="btn btn-danger-outline bet ok" data-id="105804" value="0">4点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105805" value="0">5点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105806" value="0">6点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105807" value="0">7点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105808" value="0">8点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105809" value="0">9点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105810" value="0">10点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105811" value="0">11点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105812" value="0">12点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105813" value="0">13点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105814" value="0">14点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105815" value="0">15点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105816" value="0">16点<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105817" value="0">17点<br><span class="r_ma bet-item">1.982<span></button>
	</div>
</ion-content>