<ion-content class="bet-view" scroll="false">

	<div id="" class="tabcontent">
		<p>三军、大小</p>
		<button class="btn btn-danger-outline bet ok" data-id="105601" value="0"><span class="ball_g_label domino_1">1</span><br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105602" value="0"><span class="ball_g_label domino_2">2</span><br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105603" value="0"><span class="ball_g_label domino_3">3</span><br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105604" value="0"><span class="ball_g_label domino_4">4</span><br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105605" value="0"><span class="ball_g_label domino_5">5</span><br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="105606" value="0"><span class="ball_g_label domino_6">6</span><br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="106101" value="0">大<br><span class="r_ma bet-item">1.982<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="106102" value="0">小<br><span class="r_ma bet-item">1.982<span></button>
	</div>
</ion-content>