<ion-content class="bet-view">
	<div id="" class="tabcontent">
		<p>围骰、全骰</p>
		<button class="btn btn-danger-outline-mgd bet ok" data-id="105701" value="0">
			<span class="right mr10 bet-round">
				<span class="round-3 domino_1 square_label">1</span>
				<span class="round-3 domino_1 square_label">1</span>
				<span class="round-3 domino_1 square_label">1</span>
			</span>
			<span class="bet-item lh14 r_ma">1.982</span>
		</button>
		<button class="btn btn-danger-outline-mgd bet ok" data-id="105702" value="0">
			<span class="right mr10 bet-round">
				<span class="round-3 domino_2 square_label">2</span>
				<span class="round-3 domino_2 square_label">2</span>
				<span class="round-3 domino_2 square_label">2</span>
			</span>
			<span class="bet-item lh14 r_ma">1.982</span>
		</button>

		<button class="btn btn-danger-outline-mgd bet ok" data-id="105703" value="0">
			<span class="right mr10 bet-round">
				<span class="round-3 domino_3 square_label">3</span>
				<span class="round-3 domino_3 square_label">3</span>
				<span class="round-3 domino_3 square_label">3</span>
			</span>
			<span class="bet-item lh14 r_ma">1.982</span>
		</button>
		<button class="btn btn-danger-outline-mgd bet ok" data-id="105704" value="0">
			<span class="right mr10 bet-round">
				<span class="round-3 domino_4 square_label">4</span>
				<span class="round-3 domino_4 square_label">4</span>
				<span class="round-3 domino_4 square_label">4</span>
			</span>
			<span class="bet-item lh14 r_ma">1.982</span>
		</button>
		
		<button class="btn btn-danger-outline-mgd bet ok" data-id="105705" value="0">
			<span class="right mr10 bet-round">
				<span class="round-3 domino_5 square_label">5</span>
				<span class="round-3 domino_5 square_label">5</span>
				<span class="round-3 domino_5 square_label">5</span>
			</span>
			<span class="bet-item lh14 r_ma">1.982</span>
		</button>
		<button class="btn btn-danger-outline-mgd bet ok" data-id="105706" value="0">
			<span class="right mr10 bet-round">
				<span class="round-3 domino_6 square_label">6</span>
				<span class="round-3 domino_6 square_label">6</span>
				<span class="round-3 domino_6 square_label">6</span>
			</span>
			<span class="bet-item lh14 r_ma">1.982</span>
		</button>
	</div>
</ion-content>