<ion-view view-title="活动中心">
    
	<div class="container game_middle_panel" style="background-color:#ffffff; padding-top: 20px; min-height: 800px">
        <span>
            <h4 class="hotgame_mark"><b>活动中心 Activity Center</b></h4>
        </span>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="actitem-wrap">
                    <span class="status underway">进行中</span>
                    <div class="act-banner">
                        <img src="{{base_url}}/assets/img/act_1.jpg" alt="">
                    </div>
                    <div class="act-info">
                        <span class="c-red"><b>邀请好友</b></span>
                        <span class="c-right">2019.10.01 结束</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="actitem-wrap">
                    <span class="status underway">进行中</span>
                    <div class="act-banner">
                        <img src="{{base_url}}/assets/img/act_2.jpg" alt="">
                    </div>
                    <div class="act-info">
                        <span class="c-red"><b>感恩回馈 彩金大放送</b></span>
                        <span class="c-right">2019.05.31 结束</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="actitem-wrap">
                    <span class="status underway">进行中</span>
                    <div class="act-banner">
                        <img src="{{base_url}}/assets/img/act_3.jpg" alt="">
                    </div>
                    <div class="act-info">
                        <span class="c-red"><b>天天红包雨</b></span>
                        <span class="c-right">2018.06.04 结束</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="actitem-wrap">
                    <span class="status underway">进行中</span>
                    <div class="act-banner">
                        <img src="{{base_url}}/assets/img/act_4.jpg" alt="">
                    </div>
                    <div class="act-info">
                        <span class="c-red"><b>幸运大转盘</b></span>
                        <span class="c-right">2018.09.17 结束</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="actitem-wrap">
                    <span class="status underway">进行中</span>
                    <div class="act-banner">
                        <img src="{{base_url}}/assets/img/act_5.jpg" alt="">
                    </div>
                    <div class="act-info">
                        <span class="c-red"><b>双旦活动</b></span>
                        <span class="c-right">2018.09.17 结束</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="actitem-wrap">
                    <span class="status underway">进行中</span>
                    <div class="act-banner">
                        <img src="{{base_url}}/assets/img/act_6.jpg" alt="">
                    </div>
                    <div class="act-info">
                        <span class="c-red"><b>天天返利</b></span>
                        <span class="c-right">2019.05.31 结束</span>
                    </div>
                </div>
            </div>
        </div>
	</div>
</ion-view>