<ion-content class="bet-view" scroll="false">
<div id="" class="tabcontent">
	<p>第二球</p>
	<button class="btn btn-danger-outline bet ok" data-id="616501" value="0">1<br><span class="r_ma bet-item">42.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616502" value="0">2<br><span class="r_ma bet-item">42.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616503" value="0">3<br><span class="r_ma bet-item">42.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616504" value="0">4<br><span class="r_ma bet-item">42.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616505" value="0">5<br><span class="r_ma bet-item">42.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616506" value="0">6<br><span class="r_ma bet-item">21.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616507" value="0">7<br><span class="r_ma bet-item">21.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616508" value="0">8<br><span class="r_ma bet-item">14.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616509" value="0">9<br><span class="r_ma bet-item">14.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616510" value="0">10<br><span class="r_ma bet-item">10.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616511" value="0">11<br><span class="r_ma bet-item">10.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616512" value="0">12<br><span class="r_ma bet-item">8.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616513" value="0">13<br><span class="r_ma bet-item">10.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616514" value="0">14<br><span class="r_ma bet-item">10.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616515" value="0">15<br><span class="r_ma bet-item">14.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616516" value="0">16<br><span class="r_ma bet-item">14.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616517" value="0">17<br><span class="r_ma bet-item">21.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616518" value="0">18<br><span class="r_ma bet-item">21.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616519" value="0">19<br><span class="r_ma bet-item">42.3<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616520" value="0">20<br><span class="r_ma bet-item">42.3<span></button>
	

	<p></p>
	<button class="btn btn-danger-outline bet ok" data-id="616521" value="0">大<br><span class="r_ma bet-item">2.2<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616522" value="0">小<br><span class="r_ma bet-item">1.77<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616523" value="0">单<br><span class="r_ma bet-item">1.77<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616524" value="0">双<br><span class="r_ma bet-item">2.2<span></button>
	
	<button class="btn btn-danger-outline bet ok" data-id="616527" value="0">合单<br><span class="r_ma bet-item">2.2<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616528" value="0">合双<br><span class="r_ma bet-item">1.77<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616525" value="0">尾大<br><span class="r_ma bet-item">1.77<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616526" value="0">尾小<br><span class="r_ma bet-item">2.2<span></button>
	
	<button class="btn btn-danger-outline bet ok" data-id="616536" value="0">龙<br><span class="r_ma bet-item">2.2<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616537" value="0">虎<br><span class="r_ma bet-item">1.77<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616529" value="0">东<br><span class="r_ma bet-item">1.77<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616530" value="0">南<br><span class="r_ma bet-item">2.2<span></button>

	<button class="btn btn-danger-outline bet ok" data-id="616531" value="0">西<br><span class="r_ma bet-item">1.77<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616532" value="0">北<br><span class="r_ma bet-item">2.2<span></button>

	<button class="btn btn-danger-outline bet ok" data-id="616533" value="0">中<br><span class="r_ma bet-item">1.77<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616534" value="0">发<br><span class="r_ma bet-item">2.2<span></button>
	<button class="btn btn-danger-outline bet ok" data-id="616535" value="0">白<br><span class="r_ma bet-item">2.2<span></button>
</div>
</ion-content>