<ion-content class="bet-view" scroll="false">
	<div id="" class="tabcontent">
		<p>第四球</p>
		<button class="btn btn-danger-outline bet ok" data-id="616701" value="0">1<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616702" value="0">2<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616703" value="0">3<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616704" value="0">4<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616705" value="0">5<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616706" value="0">6<br><span class="r_ma bet-item">21.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616707" value="0">7<br><span class="r_ma bet-item">21.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616708" value="0">8<br><span class="r_ma bet-item">14.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616709" value="0">9<br><span class="r_ma bet-item">14.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616710" value="0">10<br><span class="r_ma bet-item">10.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616711" value="0">11<br><span class="r_ma bet-item">10.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616712" value="0">12<br><span class="r_ma bet-item">8.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616713" value="0">13<br><span class="r_ma bet-item">10.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616714" value="0">14<br><span class="r_ma bet-item">10.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616715" value="0">15<br><span class="r_ma bet-item">14.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616716" value="0">16<br><span class="r_ma bet-item">14.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616717" value="0">17<br><span class="r_ma bet-item">21.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616718" value="0">18<br><span class="r_ma bet-item">21.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616719" value="0">19<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616720" value="0">20<br><span class="r_ma bet-item">42.3<span></button>
		
	
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="616721" value="0">大<br><span class="r_ma bet-item">2.2<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616722" value="0">小<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616723" value="0">单<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616724" value="0">双<br><span class="r_ma bet-item">2.2<span></button>
		
		<button class="btn btn-danger-outline bet ok" data-id="616727" value="0">合单<br><span class="r_ma bet-item">2.2<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616728" value="0">合双<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616725" value="0">尾大<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616726" value="0">尾小<br><span class="r_ma bet-item">2.2<span></button>
		
		<button class="btn btn-danger-outline bet ok" data-id="616736" value="0">龙<br><span class="r_ma bet-item">2.2<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616737" value="0">虎<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616729" value="0">东<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616730" value="0">南<br><span class="r_ma bet-item">2.2<span></button>
	
		<button class="btn btn-danger-outline bet ok" data-id="616731" value="0">西<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616732" value="0">北<br><span class="r_ma bet-item">2.2<span></button>

		<button class="btn btn-danger-outline bet ok" data-id="616733" value="0">中<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616734" value="0">发<br><span class="r_ma bet-item">2.2<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="616735" value="0">白<br><span class="r_ma bet-item">2.2<span></button>
	</div>

</ion-content>