<ion-content class="bet-view" scroll="false">
	<div id="" class="tabcontent">
		<p>第八球</p>
		<button class="btn btn-danger-outline bet ok" data-id="617101" value="0">1<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617102" value="0">2<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617103" value="0">3<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617104" value="0">4<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617105" value="0">5<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617106" value="0">6<br><span class="r_ma bet-item">21.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617107" value="0">7<br><span class="r_ma bet-item">21.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617108" value="0">8<br><span class="r_ma bet-item">14.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617109" value="0">9<br><span class="r_ma bet-item">14.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617110" value="0">10<br><span class="r_ma bet-item">10.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617111" value="0">11<br><span class="r_ma bet-item">10.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617112" value="0">12<br><span class="r_ma bet-item">8.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617113" value="0">13<br><span class="r_ma bet-item">10.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617114" value="0">14<br><span class="r_ma bet-item">10.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617115" value="0">15<br><span class="r_ma bet-item">14.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617116" value="0">16<br><span class="r_ma bet-item">14.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617117" value="0">17<br><span class="r_ma bet-item">21.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617118" value="0">18<br><span class="r_ma bet-item">21.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617119" value="0">19<br><span class="r_ma bet-item">42.3<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617120" value="0">20<br><span class="r_ma bet-item">42.3<span></button>
		
		<p></p>
		<button class="btn btn-danger-outline bet ok" data-id="617121" value="0">大<br><span class="r_ma bet-item">2.2<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617122" value="0">小<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617123" value="0">单<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617124" value="0">双<br><span class="r_ma bet-item">2.2<span></button>

		<button class="btn btn-danger-outline bet ok" data-id="617127" value="0">合单<br><span class="r_ma bet-item">2.2<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617128" value="0">合双<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617125" value="0">尾大<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617126" value="0">尾小<br><span class="r_ma bet-item">2.2<span></button>
		
		<button class="btn btn-danger-outline bet ok" data-id="617136" value="0">龙<br><span class="r_ma bet-item">2.2<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617137" value="0">虎<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617129" value="0">东<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617130" value="0">南<br><span class="r_ma bet-item">2.2<span></button>
	
		<button class="btn btn-danger-outline bet ok" data-id="617131" value="0">西<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617132" value="0">北<br><span class="r_ma bet-item">2.2<span></button>

		<button class="btn btn-danger-outline bet ok" data-id="617133" value="0">中<br><span class="r_ma bet-item">1.77<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617134" value="0">发<br><span class="r_ma bet-item">2.2<span></button>
		<button class="btn btn-danger-outline bet ok" data-id="617135" value="0">白<br><span class="r_ma bet-item">2.2<span></button>
	</div>
</ion-content>